# Directorio de binarios y archivos generados por el compilador
/bin/
/obj/

# Archivos de configuración específicos del entorno
/appsettings.json
/appsettings.Development.json

# Directorio de dependencias
/packages/

# Directorio de registros y archivos de registro
/logs/
*.log

# Archivos de usuario
*.user
*.suo
*.sln.docstates

# Archivos de respaldo
*~
*.bak

# Carpeta de caché de NuGet
.vscode/
.vs/
npm-debug.log
